h1 {
	font-family: Impact, Arial, Helvetica, sans-serif;
	color:red;
	font-size: 60px;

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;}

a:link {
    color: none;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: none;
}

/* selected link */
a:active {
    color: blue;
}
